body {
  font-family: monospace;
  background-color: pink;
}

h1 {
  color: rgb(245, 176, 245);
  font-size: 46px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  line-height: 48px;
  margin: 20px 0 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

li::first-letter {
  text-transform: capitalize;
}

form {
  border-bottom: 1px solid #f0f6fc;
  margin-top: 30px;
  padding-bottom: 30px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
}

.search-input {
  background: #d9ced6;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 15px 15px;
}

.btn-primary {
  background: rgb(245, 176, 245);
  border: none;
  width: 60%;
  border-radius: 10px;
  font-weight: 700;
  height: 50px;
  padding: 5px 0;
}

.currentbtn {
  background-color: rgb(245, 176, 245);
  color: white;
  border: none;
  font-size: 18px;
  height: 50px;
  border-radius: 10px;
  padding: 5px 0;
  width: 20%;
}

.weather-app {
  border-radius: 16px;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  box-shadow: 0 30px 50px rgba(60, 26, 139, 0.08);
  padding: 40px;
}

.weather-temperature img {
  margin-left: 26px;
  margin-top: 7px;
  height: 80px;
  width: 80;
}

.weather-temperature strong {
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
}

.d-flex {
  margin-top: 60px;
}

.weather-temperature a {
  text-decoration: none;
}

.weather-app li strong {
  color: rgb(210, 107, 236);
}

.weather-app footer {
  color: #878787;
  font-size: 14px;
  text-align: center;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin: 60px 0;
  text-align: center;
  color: black;
  border-bottom: 1px solid #f0f6fc;
  padding-bottom: 50px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  color: rgb(210, 107, 236);
  font-weight: 600;
  font-size: 16px;
}
